/* CSS stylesheet specific to the different Menu Page Deltas. */
.roche-default #zone-branding { text-align: right; }
.roche-default #zone-branding img { width: auto; height: 48px; margin: 48px }

.roche-default #zone-header { -webkit-box-shadow: inset 0 10px 20px -15px rgba(0,0,0,0.75); -moz-box-shadow: inset 0 10px 20px -15px rgba(0,0,0,0.75); box-shadow: inset 0 10px 20px -15px rgba(0,0,0,0.75); padding: 1% 0; }
.roche-default #zone-header h1 { text-transform: initial; line-height: 1em; margin-bottom: 0.25em; font-size: 36pt; }
.roche-default #zone-header h2 { text-transform: initial; line-height: 1em; margin-bottom: 0.25em; font-size: 18pt; }
.roche-default #zone-header h3 { text-transform: initial; line-height: 1em; margin-bottom: 0.25em; font-size: 14pt; }
.roche-default #zone-header h4 { text-transform: initial; line-height: 1em; margin-bottom: 0.25em; font-size: 12pt; }
.roche-default #zone-header div, #zone-header span, #zone-header p { }
.roche-default #zone-header a { } 

.roche-default #zone-content { padding: 1% 0; }
.roche-default #zone-content .field-name-body { }
.roche-default #zone-content .menu-page-list { }
.roche-default #zone-content .menu-page-list .menu-list { padding: 1.5em 0; }
.roche-default #zone-content .menu-page-list .menu-list .list-item { margin-bottom: 0.5em; }
.roche-default #zone-content .menu-page-list .menu-list .list-item:last-child { margin-bottom: 0; }
.roche-default #zone-content .menu-page-list .menu-list .list-item > div { transition:All 0.5s ease; -webkit-transition:All 0.5s ease; -moz-transition:All 0.5s ease; -o-transition:All 0.5s ease; transform: rotate(0deg) scale(1) skew(1deg) translate(0px); -webkit-transform: rotate(0deg) scale(1) skew(1deg) translate(0px); -moz-transform: rotate(0deg) scale(1) skew(1deg) translate(0px); -o-transform: rotate(0deg) scale(1) skew(1deg) translate(0px); -ms-transform: rotate(0deg) scale(1) skew(1deg) translate(0px); padding: 0.35em 1em; overflow: hidden; }
.roche-default #zone-content .menu-page-list .menu-list .list-item > div:hover { transform: rotate(0deg) scale(1.025) skew(1deg) translate(0px); -webkit-transform: rotate(0deg) scale(1.025) skew(1deg) translate(0px); -moz-transform: rotate(0deg) scale(1.025) skew(1deg) translate(0px); -o-transform: rotate(0deg) scale(1.025) skew(1deg) translate(0px); -ms-transform: rotate(0deg) scale(1.025) skew(1deg) translate(0px); }
.roche-default #zone-content .menu-page-list .menu-list .list-item a { text-decoration: none; display: block; }
.roche-default #zone-content .menu-page-list .menu-list .list-item a:hover { }
.roche-default #zone-content .menu-page-list .menu-list .list-item .link-subtitle { }
.roche-default #zone-content .menu-page-list .menu-list .list-item .link-subtitle p { margin-bottom: 5px; }
.roche-default #zone-content .menu-page-list .menu-list .list-item .link-subtitle > *:last-child { margin-bottom: 0 }

.roche-default #zone-footer { -webkit-box-shadow: inset 0 10px 20px -15px rgba(0,0,0,0.75); -moz-box-shadow: inset 0 10px 20px -15px rgba(0,0,0,0.75); box-shadow: inset 0 10px 20px -15px rgba(0,0,0,0.75); padding: 1em 0; font-size: 9pt; }
.roche-default #zone-footer div, #zone-footer span, #zone-header p { margin-bottom: 0; }
.roche-default #zone-footer a { } 