/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

/* HTML 
--------------------------------------------------------------------------*/

body {
  font-size: 14px;	
  line-height: 1.5em;
  font-family:Arial, Helvetica, sans-serif;
  color: #666666;
  background: url(../images/background.png);
  overflow-x: hidden;
}
body.page-digitalsignage-screen {
  overflow: hidden;
}

a {
  color: #00a1f4;	
  font-weight: normal;
}

a:hover {
  text-decoration: underline;
}

p {
  padding-bottom: 1.0em;	
}

h1, h2, h3, h4, h5, h6 {
  padding-bottom: 1.0em;
  font-weight: bold;
  line-height: 1.2em;	
}

h1 {
  font-size: 32px;	
}

h2 {
  font-size: 24px;	
}

h3 {
  font-size: 18px;	
}

h4 {
  font-size: 16px;	
}

h6 {
  text-transform: uppercase;	
  font-size: 11px;
}

pre {
  display: block;
  margin-bottom: 1.0em;
  padding: 20px;
  background: #666666;
  color: #ffffff;
  text-shadow: -1px -1px #333;
  border-top: 1px solid #333;
  border-left: 1px solid #333;
}

code {
  font-style: italic;
  font-weight: bold;	
}

address {
  display: block;
  margin-bottom: 1.0em;
  padding: 20px;
  border: 1px solid #dddddd;
  background: #eee;
  color: #333;
  text-shadow: 1px 1px #f9f9;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

ul, ol, .block ul, menu, dir {
  padding-left: 2.0em;
  padding-bottom: 1.0em;
}

ul li, ol li, menu li {
  padding: 5px 0;
  list-style-type: disc;
  list-style-position:outside;	
}

ol li {
  list-style-type: decimal;
}

blockquote {
  margin: 20px 0;
  padding-left: 58px;
  color: #666666;
  background: url(../images/openquote.png) top left no-repeat;
} 

blockquote p {
  padding-right: 50px;
  background:  url(../images/closequote.png) bottom right no-repeat;
} 

dl {
  margin-bottom: 1.0em;
  padding: 20px;
  border: 1px solid #dddddd;	
  background: #f9f9f9;
}

dt {
  font-weight: bold;
}

dd {
  padding-bottom: 1.0em;
  padding-left: 1.0em;
  font-style:italic;	
}

acronym {
  text-transform: uppercase;	
}

cite {
  font-style: italic;	
}

table {
  border: 1px solid #ddd;
  background: #FFF;
  border-collapse:collapse;
  width: 100%;
}

caption {
  padding-bottom: 0.5em;	
  font-size: 11px;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;  	
}

th {
  background: #f9f9f9;
  font-weight: bold;	
}

legend {
  font-weight: bold;
  text-transform: uppercase;
  font-weight: 12px;	
}

input, select, button {
  margin-bottom: 1.0em;	
}

.button-type,
button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  -webkit-appearance: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  border-radius: 4px;
  background: #5f5f5f;
  border: none;
  cursor: pointer;
  color: #FFF !important;
  outline: 0;
  overflow: hidden;
  padding: 6px 14px;
  margin: 10px 5px;
  font: inherit;
  font-size: 0.8em;
  text-shadow: none;
  width: auto;
  *padding-top: 2px; /* IE7 */
  *padding-bottom: 0px; /* IE7 */
  text-transform: uppercase;
  text-decoration: none !important;
  display: inline-block;
}
.button-type:hover,
.button-type:active,
.button-type:focus,
input.form-submit:hover,
.form-actions input:hover {
  background: #3f3f3f;
}

textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-appearance: none;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid;
  border-color: #ffc55a;
  background: #f5f5f5;
  color: #000;
  outline: 0;
  padding: 4px 6px;
  font-size: 0.85em;
  font-family: Tahoma, Geneva, sans-serif;
  height: 2.5em;
  *padding-top: 2px; /* IE7 */
  *padding-bottom: 1px; /* IE7 */
  *height: auto; /* IE7 */
}
textarea {
  height: auto;
  -moz-border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
}
.resizable-textarea .grippie {
  -moz-border-radius: 0 0 6px 6px;
  -webkit-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: "";
  background: url(../images/Dropdown.png) no-repeat right center #f5f5f5;
  padding-right: 25px;
}

/* Separate rule for Firefox. Cannot stack with WebKit's. */
input.placeholder_text,
textarea.placeholder_text,
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #888;
}

::-webkit-input-placeholder {
  color: #888;
}

button:focus,
button:active,
input:focus,
input:active,
select:focus,
select:active,
textarea:focus,
textarea:active {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  z-index: 1; /* For Opera */
}

input[type="file"]:focus,
input[type="file"]:active,
input[type="radio"]:focus,
input[type="radio"]:active,
input[type="checkbox"]:focus,
input[type="checkbox"]:active {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

select[disabled],
textarea[disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="number"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="text"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
input[type="week"][disabled] {
  background-color: #515151;
}

button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled] {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  color: #888;
  cursor: default;
}

/* HEADER 
--------------------------------------------------------------------------*/

.header-wrapper {
  background: url(../images/header-wrapper-bg.png) bottom left repeat-x;	
}

.header-wrapper-inner {
  padding: 40px 0;
}

.site-logo {
  margin-bottom: 5px;
}

.site-logo img {
  display: block;
}

hgroup {
  float: left;
}

.site-name, .site-name a {
  font-size: 24px;
  padding-bottom: 0;
  color: #fff;	
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: -1px -1px #0077b4;
}

.site-slogan {
  padding-top: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #c4e7f8;
  text-transform: uppercase;
}


/* PREFACE 
--------------------------------------------------------------------------*/

.preface-wrapper {
  padding: 40px 0;	
  background: #fff;
  line-height: 1.7em;
  font-size: 18px;
  border-bottom: 10px solid #ddd;
}

.preface-wrapper h3 {
  padding-bottom: 0;
}


/* TABS
--------------------------------------------------------------------------*/

ul.primary {
  text-align: center;
  border-bottom: none;
  margin: 0 0 2em;
  padding: 0;
}
ul.primary li {
  display: inline-block;
  margin: 0;
  font-size: 10pt;
  overflow: hidden;
}
ul.primary li:first-child a {
  -moz-border-radius: 20px 0 0 20px;
  -webkit-border-radius: 20px 0 0 20px;
  border-radius: 20px 0 0 20px;
}
ul.primary li:last-child a {
  -moz-border-radius: 0 20px 20px 0;
  -webkit-border-radius: 0 20px 20px 0;
  border-radius: 0 20px 20px 0;
}
ul.primary li a {
  display: inline-block;
  text-transform: uppercase;
  background: #6e6e6e;
  background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757));
  background: -moz-linear-gradient(top, #888, #575757);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757');
  border-color: #000;
  border-width: 1px;
  border-style: solid;
  padding: 5px 15px;
  color: #FFF;
  margin: 0;
}
ul.primary li.active a {
  background: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
  background: -moz-linear-gradient(top, #fff, #ededed);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
  border: solid 1px #000;
  color: #000;
}
ul.primary li a:hover {
  background: #616161;
  background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b));
  background: -moz-linear-gradient(top, #757575, #4b4b4b);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#4b4b4b');
  border: solid 1px #000;
}
ul.primary li.active a:hover {
  background: #ededed;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
  background: -moz-linear-gradient(top, #fff, #dcdcdc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}

.item-list ul.pager {
  text-align: center;
  border-bottom: none;
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
}
.item-list ul.pager li {
  display: inline-block;
  margin: 0;
  font-size: 10pt;
  overflow: hidden;
  float: none;
  border: none;
}
.item-list ul.pager li.pager-next,
.item-list ul.pager li.pager-last {
  position: static;
}
.item-list ul.pager li.pager-current.first,
.item-list ul.pager li:first-child a {
  -moz-border-radius: 20px 0 0 20px;
  -webkit-border-radius: 20px 0 0 20px;
  border-radius: 20px 0 0 20px;
}
.item-list ul.pager li.pager-current.last,
.item-list ul.pager li:last-child a {
  -moz-border-radius: 0 20px 20px 0;
  -webkit-border-radius: 0 20px 20px 0;
  border-radius: 0 20px 20px 0;
}
.item-list ul.pager li a {
  display: inline-block;
  text-transform: uppercase;
  background: #6e6e6e;
  background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757));
  background: -moz-linear-gradient(top, #888, #575757);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757');
  border-color: #000;
  border-width: 1px;
  border-style: solid;
  padding: 5px 15px;
  color: #FFF;
  margin: 0;
}
.item-list ul.pager li.pager-current {
  background: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
  background: -moz-linear-gradient(top, #fff, #ededed);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
  padding: 5px 15px;
  border: solid 1px #000;
  color: #000;
}
.item-list ul.pager li a:hover {
  background: #616161;
  background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b));
  background: -moz-linear-gradient(top, #757575, #4b4b4b);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#4b4b4b');
  border: solid 1px #000;
}

/* MAIN CONTENT 
--------------------------------------------------------------------------*/

#zone-content {
  display: block;
  height: 100%;
}
#region-content {
  display: block;
  height: 100%;
}
#region-content .region-inner {
  display: block;
  height: 100%;
}
#region-content .region-inner > .view.view-cluster-display {
  display: block;
  height: 100%;
}
.main-content-wrapper {
  padding: 40px 0;	
  text-shadow: 1px 1px #fff;
  border-top: 1px solid #ffffff;
}

/* SIDEBARS 
--------------------------------------------------------------------------*/

.sidebar .block-inner {
  margin-bottom: 20px;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 3px;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px #ddd;	
  overflow: hidden;
}

.sidebar .block-inner h3 {
  font-size: 12px;
  color: #444;
  padding-bottom: 20px;
  text-transform: uppercase;
}

/* POSTSCRIPT 
--------------------------------------------------------------------------*/

.postscript-wrapper {
  padding: 40px 0;	
  background: #333;
  color: #fff;
  border-top: 1px solid #fff;
}

.postscript-wrapper .block-inner h3 {
  padding-bottom: 20px;
}

.postscript-wrapper table {
  border: 1px solid #111;
  background: #444;
  border-collapse:collapse;
  width: 100%;
}

.postscript-wrapper caption {
  padding-bottom: 0.5em;	
  font-size: 11px;
}

.postscript-wrapper th, .postscript-wrapper td {
  padding: 10px;
  border: 1px solid #111;  	
}

.postscript-wrapper th {
  background: #333333;
  font-weight: bold;	
}


/* FOOTER
--------------------------------------------------------------------------*/

.footer-wrapper {
  padding: 10px 0;
  font-size: 12px;
  background: #222;	
  border-top: 1px solid #444;
  text-align: center;
  color: #aaa;
}

#zone-footer-wrapper > div > div {
  height: 110px !important;
  margin: 0;
  width: 40%;
  padding: 0 5%;
}

.anonymous .section-header,
.anonymous .section-content {
  display: none !important;
}


/* WEATHER
--------------------------------------------------------------------------*/

table.weather-table {
  border: none;
  background: transparent;
  width: auto;
  margin: 10px 0;
  height: 90px;
}

table.weather-table tr:hover td {
  background: transparent;
}

table.weather-table td {
  border: none;
  vertical-align: middle;
  font-size: 14pt;
  padding: 0;
}

.weather-block-image {
  width: 100px;
}

.weather-block-image img {

}


/* CLOCK
--------------------------------------------------------------------------*/

.clock-block {
  height: inherit;
  display: table;
  width: 100%;
}

.clock {
  text-align: right;
  font-size: 45pt;
  line-height: 45pt;
  vertical-align: middle;
  display: table-cell;
  height: inherit;
}


/* LISTS 
--------------------------------------------------------------------------*/

/* USER MENU 
--------------------------------------------------------------------------*/

.user-menu-wrapper {
  line-height: 28px;
  background: url(../images/user-menu-wrapper-bg.png) top left repeat-x;
}

#user-menu ul.menu li a {
  padding-right: 20px;
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
  text-shadow: -1px -1px #075378;
}

/* MAIN MENU 
--------------------------------------------------------------------------*/

.main-menu-wrapper {
  line-height: 50px;
  background: url(../images/main-menu-wrapper-bg.png) top left repeat-x;
}

#main-menu ul.menu li a {
  padding-right: 20px;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  text-shadow: -1px -1px #075378;
}

#main-menu ul.menu li a:hover {
  text-decoration: none;
  color: #009def;
}

/* Main Menu Drop Down */

#main-menu ul.menu li ul {
  position: absolute;
  width: 220px;
  margin-top: -7px;
  line-height: 35px;
  left: -999em;
  z-index: 100;
  border: 0;
  border-radius: 3px;
  box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.06), 2px 2px 0 0 rgba(0, 0, 0, 0.05), 3px 3px 0 0 rgba(0, 0, 0, 0.03), 2px 2px 0 2px rgba(0, 0, 0, 0.03), 0 0 0 1px rgba(0, 0, 0, 0.01), 0 0 0 2px rgba(0, 0, 0, 0.01), 2px 2px 0 3px rgba(0, 0, 0, 0.01);
  background: #fff;
}

#main-menu ul.menu li:hover ul, #main-menu ul.menu li.sfHover ul {
  left: auto;
}

#main-menu ul.menu li li a, #main-menu ul.menu li li a.active {
  display: block;
  padding: 0 20px;
  width: 180px;
  color: #333;
  font-size: 14px;
  text-shadow: 1px 1px #fff;
  text-transform:none;
  background: #f9f9f9;
}

#main-menu ul.menu li.sfHover li {
  margin-top: 0;	
}

#main-menu ul.menu li li a:hover, #main-menu ul.menu li li a.active:hover {
  color: #333333;
  background: #eeeeee; 
}

#main-menu ul.menu li li.first a, #main-menu ul.menu li li.first a.active {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#main-menu ul.menu li li.last a, #main-menu ul.menu li li.last a.active {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#main-menu ul.menu li ul ul {
  margin: -30px 0 0 220px;
}

#main-menu ul.menu li:hover ul ul, #main-menu ul.menu li.sfHover ul ul, #main-menu ul.menu li:hover ul ul ul, #main-menu ul.menu li.sfHover ul ul ul, #main-menu ul.menu li:hover ul ul ul ul, #main-menu ul.menu li.sfHover ul ul ul ul {
  left: -999em;
}

#main-menu ul.menu li li:hover ul, #main-menu ul.menu li li.sfHover ul, #main-menu ul.menu li li li:hover ul, #main-menu ul.menu li li li.sfHover ul, #main-menu ul.menu li li li li:hover ul, #main-menu ul.menu li li li li.sfHover ul {
  left:auto;
}

#main-menu ul.menu li li.expanded, #main-menu ul.menu li li li.expanded  {
  background: 0;
}


/* BUTTONS
--------------------------------------------------------------------------*/

a.command-link {
  padding: 6px 10px;
  margin-bottom: 1em;
  margin-right: 1em;
  color: #fff;
  text-align: center;
  font-weight: normal;
  font-size: 1.077em;
  font-family: "Lucida Grande",Verdana,sans-serif;
  text-decoration: none;
  display: inline-block;
}

a.command-link.green {
  background: #4d8f46;
}

a.command-link.green:hover {
  background: #0a6700;
}

a.command-link.blue {
  background: #0074BD;
}

a.command-link.blue:hover {
  background-color: #004c99;
}

a.command-link.red {
  background: #b73939;
}

a.command-link.red:hover {
  background: #990000;
}

.edit-link {
  width: 120px;
}

.edit-link a {
  display: block;
  text-indent: -9999px;
  width: 80px;
  height: 80px;
  background: url(../images/pencil.svg);
  background-size: 80px 80px;
}

.local-edit {
  width: 1%;
}
.local-edit a {
  background: url(../images/edit.png) center center no-repeat #fffce5;
  text-indent: -9999px;
  height: 35px;
  width: 35px;
  display: inline-block;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: solid 1px #E5D53E;
}


/* SIDE MENU 
--------------------------------------------------------------------------*/

/* CONTENT TOP & CONTENT BOTTOM
--------------------------------------------------------------------------*/

/* NODES
--------------------------------------------------------------------------*/

.node h1.title {
  padding-bottom: 10px;
  font-size: 32px;	
  font-weight: bold;
}

.field-name-field-image img {
  display: block;
  float: left;
  margin-right: 20px;
  border: 5px solid #f9f9f9;
  border-radius: 3px;
  box-shadow: 0 0 15px #ddd;
}

.submitted {
  padding-bottom: 10px;
  font-size: 11px;
  text-transform: uppercase;	
}

.taxonomy {
  float: right;
  padding: 10px 0;	
}

.taxonomy .field-label, .taxonomy .field-items, .taxonomy .field-item {
  display: inline-block;	
  font-size: 11px;
}

.taxonomy .field-item a {
  font-size: 11px;
  margin-right: 5px;
  padding: 2px 5px;
  color: #444;
  background: #dddddd;
  border-radius: 3px;
  text-transform: uppercase;	
}

.taxonomy .field-item a:hover {
  background: #eee;
  text-decoration: none;	
  box-shadow: 0 0 5px #ddd;
}

/* Teasers */

.node-teaser .node-content-wrapper.image-margin {
  margin-left: 250px;	
}

.node h2.title a {
  font-size: 24px;
  color: #555555;	
}

.node h2.title a:hover {
  color: #0096d0;	
  text-decoration: none;
}

.node-teaser {
  margin: 0 5px;
  padding: 8px 6px;
  border: 1px solid #ddd;
}

.node .links  {
  padding: 10px 0;
} 

.node .links a {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 2px 10px;
  color: #fff;
  background: #00a4f8;
  border-radius: 3px;
  text-transform: uppercase;	
  text-shadow: 1px 1px #006ca4;
  box-shadow: 0 0 3px #ddd;
} 

.node .links a:hover {
  box-shadow: 0 0 5px #bbb;
  text-decoration: none;
} 

ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 5px 0 0;
}

ul.inline li.comment_forbidden {
  display: none;
}

/* COMMENTS
--------------------------------------------------------------------------*/

#comments h2 {
  padding-bottom: 20px;
}

#comments h2.comment-form {
  padding-bottom: 0px;
}

#comments .comment {
  margin-bottom: 20px;
  padding:20px;
  background: #f9f9f9;
  border: 1px solid #eee;
  border-radius: 3px;	
  box-shadow: 0 0 5px #ddd;
}

#comments .indented .comment {
  background: #f5f5f5;
}

#comments .submitted {
  padding-bottom: 10px;	
}

#comments .user-picture img {
  display: block;
  float: left;
  width: 50px;
  height: 50px;
  box-shadow: 0 0 3px #dddddd;
}

#comments .comment-content {
  margin-left: 70px;	
}


/* BREADCRUMBS
--------------------------------------------------------------------------*/

.breadcrumb, .breadcrumb-inner {
  display: inline-block;
  padding-bottom: 5px;  
  font-size: 12px;
}

/* SEARCH FORM
--------------------------------------------------------------------------*/

.region-search-box {
  float: right;	
  width: 280px;
  height: 40px;
}

#search-block-form {
  background: url(../images/search-form.png) right no-repeat;
}

#search-block-form h2, #search-block-form label {
  display: none;
}

#search-block-form  .form-item, #search-block-form  .form-actions {
  margin-bottom: 0em;
  margin-top: 0em;
}

#search-block-form .form-text, #search-block-form .form-submit {
  padding: 0;
  margin: 0;
  border: 0;
  background: 0;
  vertical-align: middle;
}

#search-block-form .form-submit {
  height: 40px;
  width: 40px;
  text-transform: uppercase;
  background: 0;
  border-radius: 0;
  text-shadow: 0 0 #ffffff;
  text-indent: -9999px;
}

#search-block-form .form-text {
  padding: 0 20px;
  width: 220px;
  color: #fff;
  font-size: 18px;
  font-style: italic;
}

#search-block-form input:focus {
	box-shadow: 0 0 0px 0 #22d7cc;
}


/* aps MATRIX GRID
--------------------------------------------------------------------------*/

table.aps-matrix-grid {
  margin: 0;
  border: none;
  border-bottom: 1px solid #ddd;
  table-layout: fixed;
}

table.aps-matrix-grid caption {
  font-weight: bold;
  background: #dedede;
  color: #FFF;
  font-size: 1.5em;
  padding: 10px 0;
  margin: 20px 0;
}

table.aps-matrix-grid thead,
table.aps-matrix-grid tbody {
  
}

table.aps-matrix-grid thead .time,
table.aps-matrix-grid thead .room {
  
}

table.aps-matrix-grid thead .screen {
  outline: 1px solid #4d8f46;
}

table.aps-matrix-grid thead .room {
  
}

table.aps-matrix-grid thead th {

}

table.aps-matrix-grid tbody {
  
}

table.aps-matrix-grid th, 
table.aps-matrix-grid td {
  padding: 0px;
  border: none;
}

table.aps-matrix-grid th {
  background: #f9f9f9;
  font-weight: bold;  
}

table.aps-matrix-grid th.time,
table.aps-matrix-grid th.room,
table.aps-matrix-grid th.screen {
  font-weight: bold;
  padding: 10px 0;
}

table.aps-matrix-grid th.room,
table.aps-matrix-grid th.screen {
  text-align: center;
}

table.aps-matrix-grid tr.even,
table.aps-matrix-grid tr.odd {
  border-bottom: none;
}

table.aps-matrix-grid tr.even td,
table.aps-matrix-grid tr.even:hover td,
table.aps-matrix-grid tr.even th,
table.aps-matrix-grid tr.even:hover th {
  background: #F1F5FA;
  border-bottom: solid 1px #CCC;
}

table.aps-matrix-grid tr.odd td,
table.aps-matrix-grid tr.odd:hover td,
table.aps-matrix-grid tr.odd th,
table.aps-matrix-grid tr.odd:hover th {
  background: #FFFFFF;
  border-bottom: solid 1px #CCC;
}

table.aps-matrix-grid th.room a,
table.aps-matrix-grid th.screen a {
  font-weight: bold;
}

table.aps-matrix-grid th.screen a {
  color: #4d8f46;
}

table.aps-matrix-grid th.room a {
  color: #0074BD;
}

table.aps-matrix-grid th.screen {
  background: #E7FFE4;
}

table.aps-matrix-grid th.room {
  color: #FFF;
  white-space: nowrap;
  text-align: center;
}

table.aps-matrix-grid th.time {
  text-align: right;
}

table.aps-matrix-grid th.time-cell {
  text-align: right;
  padding: 5px 10px;
}

table.aps-matrix-grid th.time-cell span {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  white-space: nowrap;
  display: inline-block;
}

table.aps-matrix-grid th.empty,
table.aps-matrix-grid th.time,
table.aps-matrix-grid th.time-cell {
  width: 90px;
  padding: 0 10px 0 0;
}

table.aps-matrix-grid th.time-cell {
  padding: 5px 10px 5px 0;
}

table.aps-matrix-grid td {
  width: auto;
  position: relative;
  height: 1600px;
  background: #FFF;
  outline: solid 1px #dedede;
}

table.aps-matrix-grid td div.timeline {
  position: absolute;
  width: 95%;
  padding: 0 2.5%;
  text-align: right;
  border-bottom: solid 2px #FF0000;
  color: #FF0000;
  z-index: 99;
}

table.aps-matrix-grid td.meeting {
  background: url('../images/meeting-bg.png') !important;
  border-left: solid 1px #b73939;
  border-right: solid 1px #b73939;
}

table.aps-matrix-grid td div.meeting {
  position: absolute;
  width: 100%;
}
table.aps-matrix-grid td div.meeting.all-day {

}
table.aps-matrix-grid td div.meeting .node-meeting {
  border: none;
  font-size: 12pt;
  line-height: 16pt;
  display: table-cell;
  vertical-align: middle;
}
table.aps-matrix-grid td div.meeting .node-meeting h4 {
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 18pt;
  line-height: 26pt;
}
table.aps-matrix-grid td div.meeting.all-day .node-meeting {

}

table.aps-matrix-grid td div.meeting .meeting-content {
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
}
table.aps-matrix-grid td div.meeting .meeting-content h3 {
  padding: 0;
  margin-bottom: 0.5em;
}

div.view-cluster-matrix {

}
div.view-cluster-matrix .view-header {
  text-align: center;
}
div.view-cluster-matrix .view-header > a {
  margin: 2em 0;
}
div.view-cluster-matrix .view-header .view-event-screens {
  background: #6c6c6c;
  -webkit-border-radius: 60px 60px 0 0;
  border-radius: 60px 60px 0 0;
  border: solid 2px #000;
  border-bottom: none;
}
div.view-cluster-matrix .view-header .view-event-screens .view-content {

}
div.view-cluster-matrix > .view-content {
  padding: 0 2.5% 4em;
  background: #6c6c6c;
  -webkit-border-radius: 0 0 60px 60px;
  border-radius: 0 0 60px 60px;
  border: solid 2px #000;
  border-top: none;
}
div.view-cluster-matrix > .view-content .aps-matrix-grid-content {
  border: solid 2px #000;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
}

div.matrix-screen-list ul {
  display: block;
  text-align: center;
  margin: 0 20%;
  padding: 2em 0 1em;
}
div.matrix-screen-list ul li {
  display: inline-block;
  text-align: center;
}
div.matrix-screen-list ul li a {
  margin: 3px 15px;
  display: block;
  width: 35px;
  line-height: 35px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  border: solid 1px #990000;
  text-decoration: none;
  color: #FFF;
  background: #b73939;
}

div.view-event-content {
  display: inline-block;
  vertical-align: top;
  width: 32%;
  margin: 1.5em 2%;
}
div.view-event-content.alpha,
div.view-event-content.omega {
  margin: 1.5em 0;
}
div.view-event-content table {
  margin: 0;
  border-top: none;
  border-bottom: none;
}
div.view-event-content .view-content table thead .views-align-right {
  display: none;
}
div.view-event-content .view-content table tbody {
  width: 100%;
  display: block;
  max-height: 460px;
  overflow-y: scroll;
  overflow-x: hidden;
  border-bottom: solid 1px #CCC;
}
div.view-event-content .view-content table tbody td {
  border: none;
}
div.view-event-content .view-content table tbody tr.views-row-last {
  border-bottom: none;
}


/* SCREEN DISPLAY
--------------------------------------------------------------------------*/

#region-full {
  float: none;
}

table.meeting-row {
  border: none;
  width: 100%;
  margin: 0;
  height: 100%;
}

table.meeting-row table {
  margin: 0 0 0.2em;
  border: none;
  height: auto;
}

table.meeting-row caption {
  font-weight: bold;
  background: #dedede;
  color: #FFF;
  font-size: 1.5em;
  padding: 10px 0;
  margin: 20px 0;
}

table.meeting-row tr.even,
table.meeting-row tr.odd {
  border-bottom: none;
  padding: 0;
}

table.meeting-row tr.even td,
table.meeting-row tr.odd td {
  background: #FFF;
}

table.meeting-row td {
  border: none;
  vertical-align: middle;
  padding: 10px 0;
}

table.meeting-row > tbody > tr > td {
  padding: 10px 15px 10px 0;
}

table.meeting-row > tbody > tr > td {
  border-bottom: solid 1px #CECECE;
}

table.meeting-row > tbody > tr.views-row-last > td {
  border-bottom: none;
}

table.meeting-row tr:hover td {
  background: #FFF;
}

table.meeting-row h2 {
  font-size: 1em;
  margin-bottom: 0;
}

table.meeting-row h3 {
  font-size: 0.75em;
  margin-bottom: 0.25em;
}

table.meeting-row h2,
table.meeting-row h3 {
  display: block;
  font-weight: normal;
  padding: 0;
  letter-spacing: 0;
  line-height: 1em;
}

table.meeting-row td.knockout {
  width: 8%;
  padding-right: 20px;
}

table.meeting-row td.knockout > div {
  display: inline;
  padding: 5px 10px;
  color: #FFF;
  font-size: 0.5em;
  line-height: 4em;
}

table.meeting-row td > span {
  font-size: 0.75em;
  display: inline-block;
  letter-spacing: 0;
  line-height: 0.85em;
}

table.meeting-row td.meeting-info {
  padding-left: 5%;
}

table.meeting-row td.meeting-info p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-style: italic;
}

table.meeting-row tr.display-row td.meeting-info h2 {
  margin-top: 0.2em;
}
table.meeting-row tr.display-row:first-child td.meeting-info h2 {
  margin-top: 0;
}

table.meeting-row tr.display-row table {
  margin-bottom: 0.2em;
}
table.meeting-row tr.display-row:last-child table {
  margin-bottom: 0;
}

table.meeting-row td.arrowfont {
  text-align: right;
  font-size: 2em;
  line-height: 1.4em;
  padding-right: 5%;
  letter-spacing: 1px;
  width: 1%;
}

table.meeting-row td.arrowfont span {
  display: block;
}

.display-row {
  font-size: 60px;
}

.display-row table.meeting-row > tbody > tr > td {
  border: none;
}


/* MISC
--------------------------------------------------------------------------*/

.you-are-here  {
  display: inline-block;
  padding-right: 10px;	
  font-size: 12px;
}

.profile .user-picture {
  float: none;	
}

.auto-refresh {
  visibility: hidden;
  position: absolute;
}


/* STICKY FOOTER - LEAVE AT THE BOTTOM
--------------------------------------------------------------------------*/

html, body {
  height: 100%; 
  margin: 0;
}
#page {
  display: table; 
  width: 100%;
}
html>/**/body #page {
  height: 100%;
}
*:first-child+html #page {
  height: auto;
}
.section {
  display: table-row;
}
html>/**/body .section-content {
  height: 100%;
}
*:first-child+html body .section-content {
  height: auto;
}